body {
    background-color: lightblue;
  }
  
.wrap {
  width:1000px;
  margin: auto;
  margin-top:100px;
}
.card{
  width:280px;
  height:280px;
  background:lightyellow;
  text-align:center;
  font-size:16px;
  font-family:sans-serif;
  float:left;
  margin:5px;
  border:10px solid red;
}
.container{
  padding:2px 5px;
}